{% load client_tags %}

    <h3>Список Категорий</h3>
<div class="list-group" style="width: 50%; text-align: center; background-color: blue;" >
  {% get_wm_category as categories %}
  {% for c in categories %}
      <a href="{% url 'view_wm' c.pk %}" class="list-group-item list-group-item-action">{{ c }}</a>
  {% endfor %}

</div>
<br>

  <h3>Возрастная категория</h3>
<div class="list-group" style="width: 50%; text-align: center; background-color: blue;">
  {% get_age_category as ages %}
  {% for a in ages %}
    <a href="{% url 'view_age' a.pk %}" class="list-group-item list-group-item-action">{{ a.age }}</a>
  {% endfor %}
</div>
<br>

  <h3>Вид Сырья</h3>
<div class="list-group" style="width: 50%; text-align: center; background-color: blue;">
  {% get_material_category as materials %}
  {% for m in materials %}

  <a href="{% url 'view_material' m.pk %}" class="list-group-item list-group-item-action">{{ m.material }}</a>
  {% endfor %}
</div>
<br>

  <h3>Модели по годам</h3>
<div class="list-group" style="width: 50%; text-align: center; background-color: blue;">
  {% get_year_category as years %}
  {% for y in years %}

  <a href="{% url 'view_year' y.pk %}" class="list-group-item list-group-item-action">{{ y.year }}</a>
  {% endfor %}
</div>
<br>




