<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/dict/css/base.css">
    <link type="text/css" rel="stylesheet" href="{% static 'dict/css/styles.css' %}"/>
</head>

<style>
    body{
        background: rgb(54,195,179);
        background: radial-gradient(circle, rgba(54,195,179,1) 5%, rgba(109,141,242,1) 100%);
}

    .img-fluid{
        max_width: 100%;
        height: auto}

    .img{

        border: 5px solid #555;
        margin: 100px;
        padding:100px;
}}

</style>
<body>

{% include 'dict/_nav.html' %}
<img src="../../static/dict/images/fabric.jpg" class="img-fluid" alt="..." align="left"  width="820" height="330">

<br>
<br>
<div class="text" style="margin-right: 40px" align="center">
<h1 style="margin-right: 40px">О комнании B-Style </h1>
<h1 style="margin-right: 40px; color: green;" class="text" align="center" > Миссия</h1>

<br>
<div class="container" style="margin-right: 10px; ">
  <div class="row">
    <div class="col-12">
      <p>ПОСТАВЛЯЯ НА ПРЕДПРИЯТИЯ СОВРЕМЕННУЮ КАЧЕСТВЕННУЮ СПЕЦОДЕЖДУ, СПЕЦОБУВЬ И СИЗ, МЫ СОЗДАЕМ В ВЫСШЕЙ СТЕПЕНИ БЕЗОПАСНЫЕ И КОМФОРТНЫЕ УСЛОВИЯ ТРУДА ДЛЯ РАБОТНИКОВ ЛЮБОГО ПРЕДПРИЯТИЯ, ЗАЩИЩАЕМ ЗДОРОВЬЕ И ЖИЗНЬ ЧЕЛОВЕКА ОТ АГРЕССИВНОГО ВОЗДЕЙСТВИЯ НЕБЛАГОПРИЯТНЫХ ФАКТОРОВ ПРОИЗВОДСТВА И ОКРУЖАЮЩЕЙ СРЕДЫ, СОХРАНЯЕМ ТРУДОВОЙ ПОТЕНЦИАЛ И ЗДОРОВЬЕ НАЦИИ.</p>
      <p>СОБСТВЕННАЯ ПРОИЗВОДСТВЕННАЯ БАЗА ГК «ВОСТОК-СЕРВИС» — 15 ШВЕЙНЫХ, 4 ОБУВНЫЕ ФАБРИКИ И ФАБРИКА ПО ПРОИЗВОДСТВУ ПЕРЧАТОК НА ТЕРРИТОРИИ РОССИИ, БЕЛАРУСИ, ИТАЛИИ. </p>
    </div>
  </div>
</div>

</div>




{% block footer %}
    <!-- Footer-->
    <footer class="py-4 fixed-bottom bg-dark" >
        <div class="container"><p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2021 www.bstyle.com +996 312 700 700 Bishkek/Kyrgyzstan
        </p></div>
    </footer>
{% endblock %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>