{% extends 'dict/base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col">
            <h3>Категории</h3>
            <ul>
                {% for i in categories %}
                <li>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5>{{ i.shoes_type }}</h5>
                            </div>

                            <div class="col">
                                <h5>{{ i.shoes_type2 }}</h5>
                            </div>

                            <div class="col">
                                <h5>{{ i.material }}</h5>
                            </div>

                        </div>

                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h3>Цвет</h3>
            <ul>
                {% for i in colors %}
                <li>
                <h5>{{ i }}</h5>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h3>Год</h3>
            <ul>
                {% for i in years %}
                <li>
                <h5>{{ i }}</h5>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

{% endblock %}


