{% extends 'dict/base.html' %}

{% block sidebar %}
    {% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container mt-5 "></div>

<ul>
    {% for p in products %}
    <li>
          <a href="{% url 'view_product' p.pk %}" class="list-group-item list-group-item-action"><h5>{{ p.model_code }}</h5></a>

    <h5>{{ p.type }}</h5>
    <h5>{{ p.category }} - {{ p.MW }}</h5>
        {% if p.photo %}

            <img  class="img-article-left- thumb" src="{{ p.photo.url }}"  >
        {% endif %}
    <h5></h5>
    <hr>
    </li>
    {% endfor %}
</ul>
{% endblock  %}

