{% extends 'dict/base.html' %}

{% block sidebar %}
{% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for m in messages %}
<h3 style="color:green ">{{ m }}</h3>
{% endfor %}


{% for p in products %}
<div class="card mb-3">
    {% for p in products %}
    <div class="card-header">
        Категория: <a href="{{ p.MW_id.get_absolute_url }}"> {{ p.MW }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if p.photo %}
            <img src="{{ p.photo.url }}" align="left" alt="" class="img-thumbnail" width="250" height="200">
            {% else %}
            <img src="https://i.picsum.photos/id/103/2592/1936.jpg?hmac=aC1FT3vX9bCVMIT-KXjHLhP6vImAcsyGCH49vVkAjPQ"
                 align="left" alt="" class="img-thumbnail" width="250" height="200">
            {% endif %}
            <div class="media-body" style="ml-3">
                <h5 class="card-title">Модель товара: {{p.model_code}}</h5>
                <p class="card-text">Тип: {{p.type}} </p>
                <p class="card-text">Возрастная категория: {{p.age}} </p>
                <p class="card-text">Сделано из: {{p.material}} </p>
                <a href="{{p.get_absolute_url}}" class="btn btn-primary">Подробное описание</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ p.delivered_date }}
        </div>
    </div>
    {% empty %}
    oops...
    {% endfor %}
</div>
{% endfor %}

{% endblock  %}

{% block sidebar2 %}

{% include 'dict/_sidebar2.html' %}

{% endblock %}
