{% extends 'dict/base.html' %}

{% block sidebar %}
    {% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container mt-5 "></div>


    {% for m in messages %}
      <h3 style="color:green ">{{ m }}</h3>
    {% endfor %}


<ul>
    {% for order in orders %}
    <li>
          <a href="#" class="list-group-item list-group-item-action"><h5>{{ order.model_code }}</h5></a>

    <h5>{{ order.price }} * {{ order.quantity }} = {{ order.debt }} </h5>
    <h5>Дата заказа: {{ order.created_at }}</h5>


    <hr>
    </li>
    {% endfor %}
</ul>
{% endblock  %}

{% block  sidebar2 %}{% endblock %}