{%  extends "dict/base.html" %}


{% block sidebar %}
    {% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}

<form method="get" class="d-flex mb-5" >
  <input class="form-control me-2" value = "{{ request.GET.query }}" type="search" name="query" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% if result %}
    {% for res in result %}
        <div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.1);">
            <div class="card-body">
                <h5 class="card-title" >{{ res.model_code }}</h5>
                <p class="card-text" >{{ res.type }} </p>
                <a href="{{res.get_absolute_url}}" class="btn btn-primary" >Подробно...</a>

            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}


{% block sidebar2 %}
{% include 'dict/_sidebar2.html' %}
{% endblock %}