{% extends 'dict/base.html' %}

{% block sidebar %}
{% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}

<br>
<br>
<h2>Заказы клиента {{ client.client_name }}</h2>

{% for order in orders %}
<li>
    <a href="#" class="list-group-item list-group-item-action"><h5>{{ order.model_code }}</h5></a>

    <h5>{{ order.price }} * {{ order.quantity }} = {{ order.debt }} </h5>
    <h5>Дата заказа: {{ order.created_at }}</h5>

    <hr>
</li>
{% endfor %}
{% endblock %}

{% block sidebar2 %}
<br>
<br>
<h2>Карточка клиента </h2>
<div class="card mb-3" >
    <div class="card-header">
        Клиент: <span style="color:blue;">{{ client.client_name }}</span>

    </div>
    <div class="card-body">
        <h5 class="card-title">{{client.name}}</h5>
        <p class="card-text"> Информация о клиенте: {{client.info}} </p>
        <br>
        Количество заказов: <h3>{{qty_orders}} </h3>
        Всего заказов на сумму: <h3>{{total_debt}}  сом</h3>
    </div>
    <div class="card-footer text-muted">
        {{client.client_dept}}
    </div>
</div>

{% endblock %}