{% extends 'dict/base.html' %}

{% block sidebar %}
{% include 'dict/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mb-3" style="background-color: rgba(255, 255, 255, 0.1);">
    <div class="card-header text" style="color: blue;">
        <h4>
            Код товара: <a href="{{ product.get_absolute_url }}"> {{ product.model_code }}</a>
        </h4>
    </div>
    <div class="card-body">
        <div class="media">
            {% if product.photo %}
            <img src="{{ product.photo.url }}" align="left" alt="" class="img-thumbnail" width="350" height="300">
            {% else %}
            <img src="https://i.picsum.photos/id/103/2592/1936.jpg?hmac=aC1FT3vX9bCVMIT-KXjHLhP6vImAcsyGCH49vVkAjPQ"
                 align="left" alt="" class="img-thumbnail" width="400" height="350">
            {% endif %}
            <div class="media-body" style="ml-3">
                <br>
                <br>

                <h4 class="card-title">Модель : {{product.model_code}}</h4>
                <h5></h5>
                <p class="card-text">Тип: {{product.type}} </p>
                <p class="card-text">Возрастная категория: {{product.age}} </p>
                <p class="card-text">Сделано из: {{product.material}} </p>

                <p class="card-text">Год производства: {{product.year}} </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="card-text">Описание: {{product.description}} </p>
                <br>
            </div>
        </div>
        <div class="card-footer text">
            Наличие товара: {{product.is_available}}, Дата поставки:{{ product.delivered_date }} <br>

            Максимальная цена продажи: <span style="color:blue;">{{ max_price }} сом</span><br>
            Минимальная цена продажи: <span style="color:blue;">{{ min_price }} сом</span>

        </div>
    </div>
</div>
{% endblock %}

{% block sidebar2 %}

<h2>Все заказы по модели: <span style="color:blue;">{{ product.model_code }}</span></h2>


<div class="card mb-5">
    <div class="card-header">
        Количество заказов: <span style="color:blue">{{qty_orders}}</span> <br>
        Всего заказов на сумму: <span style="color:blue">{{sales}} сом</span>
    </div>


    <div class="card-body" >
        {% for order in orders %}
        <h5>
            Клиент: <a href="{% url 'view_client' order.client_name.pk %}">{{ order.client_name }}</a>
        </h5>
            <h7>{{ order.price }} * {{ order.quantity }} = {{ order.debt }} сом</h7>
        <br>
            <h7>Дата заказа: {{ order.created_at|date:"Y-m-d" }}</h7>
        <hr>
        {% endfor %}
    </div>

    <div class="card-footer text-muted">
        Доля продаж по количеству <span style="color:blue">{{share}} %</span>
        Доля продаж по сумме <span style="color:blue"> {{share2}} %</span>
    </div>
</div>



{% endblock %}
